*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  font-family:"Balsamiq Sans";
  background-color: rgb(240, 235, 230);
}
a{
  text-decoration: none;
  color: inherit;
}
.app{

margin: auto;
}
hr{
  border: none;
  height:1px;
  background-color: darkgray;
}
.app-contents{
  display: flex;
}