.food-display{
    margin-top: 30px;
    margin-bottom: 30px;
}
.food-display h1{
    font-weight: 500;
    font-size: 2.5rem;
}
.food-display-list{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
@media(max-width:800px){
    .food-display h1{
        font-weight: 500;
        font-size: 1.3rem;
    }
}