.logo{
    margin: 10px;
    cursor: pointer;
}
.navbar{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px;
}
.navbar-left{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.navbar-left a{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: large;
}
.navbar-menu li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    gap:30px;
    margin-right: 16px;
}
.navbar button{
    width: 80px;
    border-radius: 50px;
    cursor: pointer;
    background: transparent;
    font-size: 14px;
    border-width: 3px;
}
.navbar button:hover{
background-color: black;
color: white;
}
.search-icon{
    cursor: pointer;
    width: 36px;
}
.basket{
    cursor: pointer;
    width: 36px;
}
.navbar .active{
    font-weight: bolder;
    /* text-decoration: underline; */
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    border-radius: 5px;
    top: -8px;
    right: -8px;
    background-color: red;
}

.navbar-profile{
    position: relative;
}
.navbar-profile .profile{
    width: 36px;
    cursor: pointer;
}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}
.navbar-profile-dropdown .profile_bag,.navbar-profile-dropdown .logout{
    width: 18px;
    overflow: hidden;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 25px;
    list-style: none;
    border:2px solid black;
    border-radius: 4px;
    background-color: white;
}
.navbar-profile-dropdown li{
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}
.navbar-profile-dropdown li p:hover{
    color: rgb(255, 81, 0);
}
@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px;
        font-size: 15px;
    }
}
@media (max-width:800px){
   
    .navbar{
        gap: 1rem;
    }
    .navbar-menu{
      display: none;
    }
    .navbar-left{
        display: flex;
        justify-content: start;
        align-items: start;
        font-size:14px;
    }
   
    .navbar-right button{
        padding: 5px;
        font-size: 12px;
        width: 70px;
    }
    .navbar-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .navbar-right img{
        width: 28px;
    }
    .navbar-profile .profile{
        width: 28px;
        cursor: pointer;
    }

}
@media (max-width:800px){
   
    .navbar-menu{
      display: none;
    }
    .navbar-left{
        font-size: 16px;
    }
    .navbar-right button{
        padding: 5px;
        font-size: 12px;
        width: 70px;
    }
    .navbar-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }
    .navbar-right img{
        width: 28px;
    }
    .navbar-profile .profile{
        width: 28px;
        cursor: pointer;
    }

}