.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000000;
    transition: 0.3s;
    animation: fadeIn 1.5s;
}
.food-item-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.food-item-name-rating p{
    font-weight: 500;
    font-size: 20px;
}
.food-item-name-rating img{
    width: 60px;
}

.food-item-desc{
font-size: 14px;
color: rgb(72, 71, 71);
margin-bottom: 10px;
letter-spacing: 1px;
}

.food-item-price{
font-size: 22px;
font-weight: 400;
margin: 10px 0;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50px;
}
.food-item-counter{
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    color: white;
}
@media(max-width:800px){
    .food-item{
        width: 80%;
        height: 450px;
    }
   
}
@media(max-width:600px){
    .food-item{
        width: 80%;
        height: 450px;
    }
   
}